{
    "extends": "airbnb-base",
    "rules": {
        "consistent-return": "off",
        "no-buffer-constructor": "off",
        "no-param-reassign": ["error", {"props": false}],
        "prefer-destructuring": "off",
    	"strict": "off"
    }
}
